@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Noto Serif Devanagari", serif;
    font-weight: 400;
    font-style: normal;
}
p{
    margin: 0;
}
img.lnews{
    height: 120px;
    object-fit: cover;
    overflow: hidden;
}
.top p{
    font-size: 15px;
}
.bichar p,.bichar li{
    font-size: 17px;
}
.bichar img{
    height: 150px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.hover-green:hover{
    color: #044f23 !important;
}
.text-light{
    color: white !important;
}
.items-center{
    align-items: center;
}
.hover-light:hover{
    transition: 0.5s;
    transform: scale(1.01) !important;
    color: rgba(255, 255, 255, 0.911) !important;
}
.opacity-low{
    filter: brightness(50%);
}
.text-success{
    color: #1a8754 !important;
}
.bg-success{
    background-color: #0a9444 !important;
}
.fixed-top{
    top: 0px !important;
    width: 100% !important;
}

/* HTML: <div class="loader"></div> */
.loader {
    --d:22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #25b09b;
    box-shadow: 
      calc(1*var(--d))      calc(0*var(--d))     0 0,
      calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
      calc(0*var(--d))      calc(1*var(--d))     0 2px,
      calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
      calc(-1*var(--d))     calc(0*var(--d))     0 4px,
      calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
      calc(0*var(--d))      calc(-1*var(--d))    0 6px;
    animation: l27 1s infinite steps(8);
  }
  @keyframes l27 {
    100% {transform: rotate(1turn)}
  }